<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f5f3147928.js" crossorigin="anonymous"></script>
    <title>Reviews with ExpressJS & jQuery</title>
</head>

<body>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="reviewerName" id="s1name"></div>
                <div class="reviewerJob" id="s1job"></div>
                <div class="reviewStars" id="s1stars"></div>
                <div class="reviewContent" id="s1content"></div>
            </div>
            <div class="swiper-slide">
                <div class="reviewerName" id="s2name"></div>
                <div class="reviewerJob" id="s2job"></div>
                <div class="reviewStars" id="s2stars"></div>
                <div class="reviewContent" id="s2content"></div>
            </div>
            <div class="swiper-slide">
                <div class="reviewerName" id="s3name"></div>
                <div class="reviewerJob" id="s3job"></div>
                <div class="reviewStars" id="s3stars"></div>
                <div class="reviewContent" id="s3content"></div>
            </div>
            <div class="swiper-slide">
                <div class="reviewerName" id="s4name"></div>
                <div class="reviewerJob" id="s4job"></div>
                <div class="reviewStars" id="s4stars"></div>
                <div class="reviewContent" id="s4content"></div>
            </div>
            <div class="swiper-slide">
                <div class="reviewerName" id="s5name"></div>
                <div class="reviewerJob" id="s5job"></div>
                <div class="reviewStars" id="s5stars"></div>
                <div class="reviewContent" id="s5content"></div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev">Prev</div>
        <div class="swiper-button-next">Next</div>
    </div>
</body>
<script src="./js/script.js" type="module"></script>

</html>
